.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .welcomescreen {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    align-items: center;
  }

  .iframe {
    border: 10px;
    margin: auto;
    padding: 1.5rem;
    width: 30%;
  }
  
    .singlevideo img {
    border: 5px solid rgb(165, 165, 165);
    box-shadow: 6px 6px 12px black;
  }
  
  .singlevideo img:hover {
    border: 5px solid darkolivegreen;
  }
  
  .videotitle {
    font-size: 18px;
    width: 100%;
    height: 4rem;
    font-weight: 400;
    color: black;
  }

  .videodescription {
    font-size: 18px;
    width: 100%;
    height: 4rem;
    font-weight: 400;
    color: black;
  }